.goHome{
    //setting the background colour of the app
    background: color($colors, dark);
    color:color($colors, dark);
    margin-top: 600px;

}

.toolbar-title {
    text-align: center;
}


$colors: (

primary: #488aff,
secondary: #32db64,
danger: #f53d3d,
light:#f4f4f4,
dark: #000080

);